<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feiyu.dao.IUserNewDao">

    <resultMap id="userResultMap" type="com.feiyu.entity.UserEntiy">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="createTime" column="creater_time"/>
    </resultMap>
    <!--id要和Dao接口中的方法名保持一致-->
    <select id="getUser" parameterType="int" resultMap="userResultMap">
        SELECT * FROM user u WHERE u.uid = #{id}
    </select>

</mapper>